# ROS 2
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# Python
__pycache__/
*.pyc
.pytest_cache

#irrelevant files
my_webot_project/controllers/results/plot_architecture.py

# Webots / IDE
*.wbproj

# OS
.DS_Store

# VScode
.vscode/

venv/